# Python
__pycache__/
*.pyc
.venv/
.env
.env.*
!backend/.env.prod.example

# Django
media/
staticfiles/
db.sqlite3

# Node
node_modules/
dist/
.next/
.env.local
.env.production

# Docker / logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.dump
