DEBUG=False
SECRET_KEY=change-me

DB_NAME=domodel
DB_USER=domodel_user
DB_PASSWORD=domodel_password_change_me
DB_HOST=db
DB_PORT=5432

ALLOWED_HOSTS=domodel44.ru,www.domodel44.ru,5.42.107.196,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://domodel44.ru,https://www.domodel44.ru
CSRF_TRUSTED_ORIGINS=https://domodel44.ru,https://www.domodel44.ru

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@domodel44.ru
LEAD_NOTIFICATION_EMAILS=manager@example.com