asgiref==3.11.1
beautifulsoup4==4.15.0
diff-match-patch==20241021
Django==5.2.15
django-cors-headers==4.9.0
django-environ==0.14.0
django-import-export==4.4.1
djangorestframework==3.17.1
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
sqlparse==0.5.5
tablib==3.9.0
tzdata==2026.2
gunicorn==23.0.0
